*{
    font-family: sans-serif;
    font-size: 16px;
    color: rgb(207, 233, 255);
}

#algorithm4{
    border: 4px solid rgb(27, 68, 111);
    border-radius: 10px;
    background-color: rgb(27, 68, 111);
    transform: translateX(+8px);
}

button{
    cursor: pointer;
}

.mainContainer{
    background-color: rgb(27, 39, 51);
    border-radius: 10px;
    margin: 30px;
    width: 100%;
    height: 94%;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;

    canvas{
        background-color: #fff;
        border-radius: 10px;
        border: 3px solid rgba(0, 0, 0, 0.9);
        cursor: crosshair;
    }

    #inputs
    {
        display: flex;
        flex-direction: column;
        margin-left: 10%;

        .input-header{
            display: inline-flex;
            margin-top: 20px;
            margin-bottom: 5px;
            gap: 10px;

            .input-name{
                width: 180px;
                color: rgb(255, 255, 255);
            }

            .info-icon {
                width: 20px;
                height: 20px;

                display: inline-block;
                text-align: center;
                border-radius: 50%;
                color: rgb(255, 255, 255);
                line-height: 20px;
                background-color: rgb(14, 75, 141);
                cursor: help;
                position: relative;
            }
    
            .info-tooltip {
                padding: 10px;
                width: 250px;
                text-align: center;
                visibility: hidden;
                border-radius: 6px;
                color: rgb(255, 255, 255);
                background-color: #333;
                bottom: 100%;
                left: 50%;
                transform: translateX(-50%);
                opacity: 0;
                transition: opacity 0.3s;
                position: absolute;

                .degree{
                    font-style: italic;
                    color: rgb(255, 255, 255);
                }
            }
    
            .info-icon:hover .info-tooltip {
                visibility: visible;
                opacity: 1;
            }
        }

        .text-input{
            height: 20px;
            width: 200px;
            border-radius: 5px;
            color: rgba(0, 0, 0);
        }
        
        .range-input{
            width: 200px;
            border-radius: 5px;
            color: rgba(0, 0, 0);
        }

        .checkbox-input{
            width: 200px;
        }
    }

    #clear-button{
        margin-left: 10px;
        height: 60px;
        width: 90px;
        color: rgb(207, 233, 255);
        border: 1px solid rgb(71, 80, 98);
        border-radius: 5px;
        transition: border 0.1s;
        background-color: rgb(71, 80, 98);
    }

    #clear-button:hover{
        border: 1px solid rgb(207, 233, 255);
    }

    #control-button{
        margin-left: 312px;
        height: 50px;
        width: 200px;
        color: rgb(207, 233, 255);
        font-size: 18px;
        border: 1px solid rgb(27, 68, 111);
        border-radius: 5px;
        transition: border 0.1s;
        box-shadow: 0 2px 0 rgba(255, 255, 255, 0.04);
        background-color: rgb(27, 68, 111);
    }

    #control-button:hover{
        border: 1px solid rgb(207, 233, 255);
    }
}